# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Vite cache
.vite/

# TypeScript
*.tsbuildinfo

# Editor/IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled JS from TS
**/*.js
**/*.js.map

# Demo folder (se você não quer versionar a demo)
demo/
*.tgz


# Optional: environment files
.env
.env.local
.env.*.local
